<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J1 - <%=doc[0].cardbodytitle%>
    </title>
    <%- include('./partials/head.ejs') %>
        <meta property="twitter:card" content="summary_large_image"><!-- required -->
        <meta property="twitter:site" content="@j1noticias"><!-- required -->
        <meta property="twitter:title" content="<%=doc[0].cardbodytitle%>"><!-- required -->
        <meta property="twitter:description" content="<%=doc[0].cardbodyresume%>.">
        <meta property="twitter:image" content="https://portalj1.com.br<%=doc[0].cardimg%>">

        <meta property="og:url" content="https://portalj1.com.br/noticias/<%=doc[0].parent%>/<%=doc[0]._id%>" />
        <meta property="og:title" content="<%=doc[0].cardbodytitle%>" />
        <meta property="og:description"
            content="<%=doc[0].cardbodyresume%>" />
        <meta property="og:image"
            content="https://portalj1.com.br<%=doc[0].cardimg%>" />

</head>

<body>
    <%- include('./partials/header.ejs') %>
        <%- include('./partials/postpage.ejs') %>
            <%- include('./partials/footer.ejs') %>





</body>

</html>