<head>
    
    <link rel="stylesheet" href="/style/postpage.css" type="text/css">
    <link rel="stylesheet" href="/style/global.css" type="text/css">
    
</head>


<main class="container">
    <div class="wid60rem page_content">
        <div class="titlepage">
            <h1 class="font-weight700 content_title"><%=document.posttitle%></h1>
        </div>
        <div class="subtitlepage">
            <h2 class="content_subtitle color5"><%=document.postsubtitle%></h2>
        </div>
        <div class="flex">
            <div class="date_post"></div>
            <div></div>

        </div>
        <hr class="content_divider wid60rem">
        <div>
            <article class="textpage">
                <%if(document.text){ %>
                    <div class="parag_text">
                        <p class="color3"><%=document.text2%></p>
                    </div>
                <%}%>

                <%if(document.midiatext){ %>
                    <img class="img_post" src="<%=document.midiatext%>">

                <%}%>

                <%if(document.text2){ %>
                    <div class="parag_text">
                        <p class="color3"><%=document.text2%></p>
                    </div>
                <%}%>

                <%if(document.midiatext2){ %>
                    <img class="img_post" src="<%=document.midiatext2%>">

                <%}%>

                <%if(document.text3){ %>
                    <div class="parag_text">
                        <p class="color3"><%=document.text3%></p>
                    </div>
                <%}%>

                <%if(document.midiatext3){ %>
                    <img class="img_post" src="<%=document.midiatext3%>">

                <%}%>

                


            </article>
        </div>
    </div>
</main>