<head>
    <link rel="stylesheet" href="/style/global.css" type="text/css">
    <link rel="stylesheet" href="/style/mainhome.css" type="text/css">
</head>

<%if (doc.length <= 0){%>
    <h1 style="margin-bottom: 340px;
    padding-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;">Nada encontrado</h1>
<%}%>
<div id="" class=" row ">

    <div class="mt-40px ">
        <div class="block">
            <div class="block">
                <div class="block">
                    <div class="relative block">
                        <div class="relative block">
                            <div class="block">
                                <div class=""></div> <!-- I DONT KNOW YET-->
                                <div class="block feed">
                                    <%var nposts=0 %>
                                    <% for(let x=numberposts; x>= 0; x--){ %>
                                        <%nposts= nposts + 1 %>

                                                    <%if (nposts==4){%>
                                                        <div>
                                                            <script async
                                                                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                                            <ins class="adsbygoogle" style="display:block"
                                                                data-ad-format="fluid"
                                                                data-ad-layout-key="-f9+4t+83-ex+44"
                                                                data-ad-client="ca-pub-8358083090440708"
                                                                data-ad-slot="7932403057"></ins>
                                                            <script>
                                                                (adsbygoogle = window.adsbygoogle || []).push({});
                                                            </script>
                                                        </div>
                                                        <% nposts=0 %>
                                                            <% } %>
                                        <div id="<%=doc[x]._id%>" class="block bstn-item-shape">
                                            <div class="grid  feed_grid items-align-start">
                                                <div class="feed-post-header color3 font-weight600 block">
                                                    <span class="feed-post-header-chapeu">
                                                        <%=doc[x].cardchapeutitle%>
                                                    </span>
                                                </div>
                                                <div class="feed-post-body-title font-weight700 block">
                                                    <div class="block">
                                                        <a href="/noticias/<%=doc[x].parent%>/<%=doc[x]._id%>"
                                                            class="feed-post-link color1">
                                                            <%=doc[x].cardbodytitle%>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="feed-post-body-resumo font-weight400">
                                                    <%=doc[x].cardbodyresume%>
                                                </div>
                                                <%if(doc[x].cardimg){ %>
                                                    <div class="feed-media-wrapper block">
                                                        <a href="/noticias/<%=doc[x].parent%>/<%=doc[x]._id%>">
                                                            <div class="bstn-fd-item-cover ">

                                                                <picture class="bstn-fd-cover-picture"
                                                                    style="background-image: url('<%=doc[x].cardimg%>');">

                                                                </picture>

                                                            </div>
                                                        </a>
                                                    </div>
                                                    <%}%>
                                                        <div class="feed-post-metadata font-weight400">
                                                            <span class="feed-post-datetime">Há 40 minutos</span>
                                                            <span class="feed-post-metadata-section"> Blog da
                                                                Andréia Sadi
                                                            </span>
                                                        </div>

                                            </div>
                                        </div>
                                        <% } %>







                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>